##############################
# Project wide secrets
##############################
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  DATABASE_USERNAME: 
  DATABASE_PASSWORD: 
---
apiVersion: v1
kind: Secret
metadata:
  name: productdb-secret
type: Opaque
stringData:
  DATABASE_HOST: 
  DATABASE_PORT: ""
  DATABASE_NAME: efiss
  DATABASE_USERNAME: efiss
  DATABASE_PASSWORD: 

##############################
# Service specific secrets
##############################
---
apiVersion: v1
kind: Secret
metadata:
  name: auth-secret
type: Opaque
stringData:
  JWT_ACCESS_SECRET: 
  JWT_REFRESH_SECRET: 
  DATABASE_HOST: 
---
apiVersion: v1
kind: Secret
metadata:
  name: ads-secret
type: Opaque
stringData:
  DATABASE_HOST: 
---
apiVersion: v1
kind: Secret
metadata:
  name: admin-secret
type: Opaque
stringData:
  DATABASE_HOST: 
---
apiVersion: v1
kind: Secret
metadata:
  name: normal-user-secret
type: Opaque
stringData:
  DATABASE_HOST: 
---
apiVersion: v1
kind: Secret
metadata:
  name: mail-secret
type: Opaque
stringData:
  SMTP_USERNAME: 
  SMTP_PASSWORD: 
---
apiVersion: v1
kind: Secret
metadata:
  name: ai-secret
type: Opaque
stringData:
  MILVUS_HOST: 